<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-keychain-unlock" version="1.0.0">
  <name>KeychainUnlock</name>
  <description>
    A biometric with password, pin or pattern fallback keychain unlock for Apache Cordova thats runs on Android and iOS
  </description>
  <author>Juan Manuel Mouriz</author>
  <license>MIT</license>
  <keywords>TouchID, Touch ID, Fingerprint, Biometric</keywords>
    <keywords>cordova,plugin,android,fingerprint,authentication</keywords>
  <repo>https://github.com/jmouriz/cordova-plugin-keychain-unlock.git</repo>
  <issue>https://github.com/jmouriz/cordova-plugin-keychain-unlock/issues</issue>
  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <js-module src="www/keychain-unlock.js" name="KeychainUnlock">
    <clobbers target="window.plugins.KeychainUnlock" />
  </js-module>
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
       <feature name="KeychainUnlock">
         <param name="ios-package" value="KeychainUnlock"/>
       </feature>
    </config-file>
    <!-- Usage description of Face ID for iOS 11+ -->
    <preference name="FACEID_USAGE_DESCRIPTION" default=" " />
    <config-file target="*-Info.plist" parent="NSFaceIDUsageDescription">
      <string>$FACEID_USAGE_DESCRIPTION</string>
    </config-file>
    <framework src="LocalAuthentication.framework" />
    <framework src="Security.framework" />
    <header-file src="src/ios/KeychainUnlock.h"/>
    <source-file src="src/ios/KeychainUnlock.m"/>
    <header-file src="src/ios/KeychainWrapper.h"/>
    <source-file src="src/ios/KeychainWrapper.m"/>
  </platform>
  <!-- android -->
  <platform name="android">
     <config-file target="res/xml/config.xml" parent="/*">
        <feature name="KeychainUnlock" >
           <param name="android-package" value="ar.com.tecnologica.KeychainUnlock.KeychainUnlock" />
        </feature>
     </config-file>
     <source-file src="src/android/KeychainUnlock.java" target-dir="src/ar/com/tecnologica/KeychainUnlock" />
  </platform>
</plugin>
